@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

#bgrnd {
  padding-left: 100px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  display: block;
  justify-content: center;
  margin-left: 250px;
}
#nova {
  background-image: url("nova.png");

  height: 100px;
  right: -60px; /* play around with this */
  position: absolute;
  top: 30px; /* and play around with this */
  width: 225px;
  background-repeat: no-repeat;
}
.Ask-a-Doctor {
  width: 219px;
  height: 45px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: -70px;
  margin-left: 60px;
}
#bg {
  background-image: url("abc.png");
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  position: relative; /* and this has to be relative */
  width: 750px;
  background-repeat: round space;
}
.cornered {
  width: 210px;
  height: 0px;
  line-height: 0%;

  margin-left: 455px;
  padding-top: 175px;
  align-items: center;
  justify-content: center;
}

.l1 {
  font-size: 22px;
  font-family: Muli;
  font-style: normal;
  color: #292929;
  margin-left: 420px;
  margin-top: 40px;
  font-weight: 600;
  line-height: 2;
}

.l2 {
  font-size: 18px;
  font-family: Muli;
  font-style: normal;
  color: #292929;
  margin-left: 420px;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 2.44;
  letter-spacing: normal;
  font-weight: normal;
}

.l3 {
  font-size: 16px;
  font-family: Muli;
  font-style: normal;
  color: #292929;
  margin-left: 420px;
  margin-top: 50px;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: normal;
}

.l4 {
  font-size: 16px;
  font-family: Muli;
  font-style: normal;
  color: #292929;
  margin-left: 420px;
  margin-top: 30px;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1.75;
  letter-spacing: normal;
  font-stretch: normal;
}

.b1 {
  border-radius: 15px;
  margin-top: 30px;
  width: 500px;
  color: #2e6bb1;
  font-weight: bold;
  word-spacing: 10px;
  display: flex;
  align-items: left;
  word-wrap: break-word;
  justify-content: left;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-wrap: break-word;
}

.border {
  border: solid 1px #cfcfcf;
  background-color: #ffffff;
  border-radius: 15px;
  justify-content: left;
  width: 500px;
  margin-left: 420px;
  padding-left: 30px;
}

.doctorsreply {
  font-family: Muli;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #2e6bb1;
}

.kindly {
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;

  color: #292929;
}

.l5 {
  font-size: 18px;
  font-family: Muli;
  font-style: normal;
  color: #292929;
  margin-left: 420px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 5px;
  font-family: Muli;
  font-size: 16px;

  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;

  color: #292929;
}

.tabs1 {
  font-size: 14px;
  font-family: Muli;
  color: black;
  margin-top: 30px;
  margin-left: 420px;
  padding-top: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
}
.tabs {
  font-size: 14px;
  font-family: Muli;
  color: black;

  margin-left: 420px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
}

.footer {
  background-color: #2e6bb1;
  margin-left: 380px;
  margin-right: 360px;
  padding-top: 10px;
  align-items: center;
  font-family: Poppins;
}
.row {
  display: flex;
}
.column {
  padding: 5px;
  flex: 43.33%;
  margin-left: 180px;
}
.column1 {
  padding: 5px;
  flex: 33.33%;
  margin-top: 10px;
  margin-left: -180px;
}
